aiogram==2.20
aiohttp==3.8.1
aioredis==2.0.1
aiosignal==1.2.0
APScheduler==3.9.1
async-timeout==4.0.2
asyncpg==0.25.0
attrs==21.4.0
Babel==2.9.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
environs==9.5.0
frozenlist==1.3.0
greenlet==1.1.2
icmplib==3.0.3
idna==3.3
loguru==0.6.0
marshmallow==3.15.0
multidict==6.0.2
packaging==21.3
pyparsing==3.0.9
python-dotenv==0.20.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.36
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
yarl==1.7.2
